.about--center {
  text-align: center;
}
.about_h1 {
  // margin-bottom: 2rem;
}
.about_boxes {
  // border: solid 1px black;
  background-color: $Gray;
}

@media screen and (min-width: 768px) {
  .about_h1 {
    font-size: $MainHeader;
  }

  .about {
    margin-top: $MainHeaderMargin;
    margin-bottom: $MainHeaderMargin;
  }
}

.about_picture {
  width: 320px;
}
