.about--center {
  text-align: center;
}
.about_h1 {
  font-size: 24px;
}
.about_boxes {
  background-color: $Gray;
  padding-top: 2rem;
}

.about {
  margin-top: $MainHeaderMargin;
}

.about_picture {
  width: 100%;
}

.about--topPadding {
  padding-top: 2rem;
}

.about_reasons {
  background-color: rgba(256, 0, 0, 0.5);
  margin: 1rem;
  font-weight: bold;
  text-align: center;
}
.color-one {
  background-color: rgba(256, 0, 0, 0.5);
}
.color-two {
  background-color: rgba(0, 256, 0, 0.5);
}
.color-three {
  background-color: rgba(0, 0, 256, 0.5);
}
.color-four {
  background-color: rgba(238, 130, 238, 0.5);
}
.color-five {
  background-color: rgba(255, 165, 0, 0.5);
}
.color-six {
  background-color: rgba(106, 90, 205, 0.5);
}

@media screen and (min-width: 768px) {
  .about_h1 {
    font-size: $MainHeader;
  }
  .about {
    margin-top: $MainHeaderMargin;
  }
  .about_boxes {
    background-color: $Gray;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
