.contact--center {
  text-align: center;
}
.contact_h1 {
  font-size: 24px;
}
.contact_boxes {
  background-color: $Gray;
}

.contact_adress {
  width: 20px;
}

.contact_anchors {
  color: black !important;
  text-decoration: none;
}
.contact_h1 {
  font-size: $SecondaryHeader;
  font-weight: bold;
  display: block;
  margin: 0 0 0.5em 0;
}
@media screen and (min-width: 48em) {
  .contact_h1 {
    font-size: $MainHeader;
    font-weight: bold;
    display: block;
    margin: 0;
  }

  .contact {
    margin-top: $MainHeaderMargin;
    margin-bottom: $MainHeaderMargin;
  }
} // 768px
