.contact {
  margin-top: $MainHeaderMargin;
}
.contact_writeme {
  text-align: center;
}
.contact_information {
  width: 49%;
  padding: $MenuPadding;
  margin-top: 5px;
  margin-bottom: 22px;
  border: none;
  background: $Gray;
}
.contactform_text {
  width: 99%;
  border: none;
  background: $Gray;
  padding: $MenuPadding;
  margin: $SubmitButtonMargin;
  height: 10rem;
}
.contact_instruction {
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
  .contact_submit {
    width: 50%;
    padding: $MenuPadding;
    margin: $SubmitButtonMargin;

    border: none;
    background: #f1f1f1;
    margin: 0 0 25% 25%;
  }
}

@media screen and (min-width: 576px) {
  .contact_submit {
    width: 30%;
    padding: $MenuPadding;
    margin: $SubmitButtonMargin;

    border: none;
    background: #f1f1f1;
    margin: 0 35% 0 35%;
  }
}

@media screen and (min-width: 768px) {
  .contact_writeme {
    text-align: center;
    font-size: $MainHeader;
  }
}

@media screen and (min-width: 992px) {
  .contact_information {
    width: 49%;
    padding: $MenuPadding;
    margin: $SubmitButtonMargin;

    border: none;
    background: $Gray;
  }
}
