.contact {
  margin-top: $MainHeaderMargin;
}
.contact_writeme {
  text-align: center;
}
.contact--width49 {
  width: 49%;
}
.contact--width99 {
  width: 99%;
}
.contact_information {
  padding: $MenuPadding;
  margin-top: 5px;
  margin-bottom: 22px;
  border: none;
  background: $Gray;
}
.contact_file:hover {
  background-color: #e2e0e0;
}
input[type="file"] {
  display: none;
}
.contactform_text {
  width: 99%;
  border: none;
  background: $Gray;
  padding: $MenuPadding;
  margin: $SubmitButtonMargin;
  height: 10rem;
  margin-bottom: 0px;
}
.contact_instruction {
  margin-bottom: 1rem;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .contact_submit {
    width: 50%;
    padding: $MenuPadding;
    margin: $SubmitButtonMargin;

    border: none;
    background: #f1f1f1;
    margin: 0 0 25% 25%;
  }
}

@media screen and (min-width: 576px) {
  .contact_submit {
    width: 30%;
    padding: $MenuPadding;
    margin: $SubmitButtonMargin;

    border: none;
    background: #f1f1f1;
    margin: 0 35% 0 35%;
  }
}

@media screen and (min-width: 768px) {
  .contact_writeme {
    text-align: center;
    font-size: $MainHeader;
  }
}

@media screen and (min-width: 992px) {
  .contact_information.contact--width49 {
    width: -webkit-calc(50% - 7px);
    padding: $MenuPadding;
    margin: $SubmitButtonMargin;

    border: none;
    background: $Gray;
  }
}
