.contact--center {
  text-align: center;
}
.contact_h1 {
  font-size: 24px;
}
.contact_boxes {
  // border: solid 1px black;
  background-color: $Gray;
}

@media screen and (min-width: 768px) {
  .contact_h1 {
    font-size: $MainHeader;
  }
  //   .contact_info {
  //     font-size: $SecondaryHeader;
  //   }

  .contact {
    margin-top: $MainHeaderMargin;
    margin-bottom: $MainHeaderMargin;
  }
}
.contact_adress {
  width: 20px;
}
