.content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.content_bigger {
  font-size: 1.5rem;
  font-weight: bold;
  // margin: 1em 0;
  display: block;
}
.content_h2 {
  margin: 1em 0;
  font-size: $SecondaryHeaderPhone;
  font-weight: bold;
  display: block;
}
.content_h1 {
  margin: 1em 0;
  font-size: $MainHeaderPhone;
  font-weight: bold;
  display: block;
}
.content::before {
  content: "";

  background-image: url("../img/background.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.content--color {
  position: relative;
  color: black;
}

.content_number {
  color: black !important;
  text-decoration: none;
}

@media screen and (min-width: 36em) {
  .content {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .content_number {
    color: black !important;
    text-decoration: none;
    padding-top: -1rem;
  }
} //576px

@media screen and (min-width: 48em) {
  .content {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .content_h2 {
    font-size: $SecondaryHeader;
    margin: 1em 0;
  }
  .content_h1 {
    font-size: $MainHeader;
    margin: 1em 0;
  }
  .content::before {
    opacity: 0.4;
  }
  .content_bigger {
    font-size: 3.125rem;
    position: relative;
    color: black;
  }
} //  768px
