.content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  // color: white;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url("../img/background.jpg");

  background-size: cover;
  background-position: center bottom;
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-size: auto;
  // color: blue;
}
.content::before {
}
.content_number {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  .content {
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
  }
  .content_number {
    color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .content {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .content_h2 {
    font-size: $SecondaryHeader;
  }
  .content_h1 {
    font-size: $MainHeader;
  }
}
