.content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.content_bigger {
  font-size: 24px;
}

.content::before {
  content: "";

  background-image: url("../img/background.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

.content--color {
  position: relative;
  color: black;
}

.content_number {
  color: black !important;
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  .content {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .content_number {
    color: black !important;
    text-decoration: none;
    padding-top: -1rem;
  }
}

@media screen and (min-width: 768px) {
  .content {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .content_h2 {
    font-size: $SecondaryHeader;
  }
  .content_h1 {
    font-size: $MainHeader;
  }
  .content::before {
    opacity: 0.4;
  }
  .content_bigger {
    font-size: 50px;
    position: relative;
    color: black;
  }
}
