.dropdown:hover .dropdown_button {
  background-color: darkblue;
}

.dropdown--text_together {
  white-space: nowrap;
}
.icon_phone {
  width: $PictureSize;
  height: $PictureSize;
}

.phone_number {
  white-space: nowrap;
  padding: $MenuPadding;
  font-size: $MenuFontSize;
}

.menu {
  padding: $MenuPadding;
  font-size: $MenuFontSize;
}

// new code

.dropbtn {
  background-color: white;
  padding: $MenuPadding;
  font-size: $MenuFontSize;
  border: none;
  cursor: pointer;
  // background-image: url("https://img.icons8.com/material-two-tone/50/4a90e2/menu--v1.png");
  background-image: url("../img/menu.png");
  width: $PictureSize;
  height: $PictureSize;
  width: 50px;
  height: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown_content {
  display: none;
  position: absolute;
  background-color: $Gray;
  min-width: $DropMenuSize;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content a {
  color: black;
  padding: $MenuPadding $MenuPadding;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.dropdown--margin {
  padding-top: 1rem;
}

.phone--align {
  text-align: right;
}
.dropdown_color a {
  color: black;
}
.dropdown_color:hover a {
  color: black;
}
