.services--center {
  text-align: center;
}
.services_h1 {
  // margin-bottom: 2rem;
  font-size: 24px;
}
.services {
  margin-top: $MainHeaderMargin;
}
@media screen and (min-width: 768px) {
  .services_h1 {
    font-size: $MainHeader;
  }
  .services_group {
    font-size: $SecondaryHeader;
  }
}
.services_group {
  text-align: center;
}

// services boxes, try to find better solution
.services_boxes {
  padding-top: 1rem;
  margin: $MainHeaderMargin;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.services_boxes::before {
  content: "";
  background-image: url("../img/lubos.jpg");
  background-size: cover;
  position: absolute;
  background-position: center center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

// box one

.services_boxes_one {
  padding-top: 1rem;
  margin: $MainHeaderMargin;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.services_boxes_one::before {
  content: "";
  background-image: url("../img/furniture_repair.jpg");
  background-size: cover;
  position: absolute;
  background-position: center bottom;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}
// two not there

// three

.services_boxes_three {
  padding-top: 1rem;
  margin: $MainHeaderMargin;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.services_boxes_three::before {
  content: "";
  background-image: url("../img/tiles_laying.jpg");
  background-size: cover;
  position: absolute;
  background-position: center center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

// four

.services_boxes_four {
  padding-top: 1rem;
  margin: $MainHeaderMargin;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.services_boxes_four::before {
  content: "";
  background-image: url("../img/home_security.jpg");
  background-size: cover;
  position: absolute;
  background-position: right center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}
// five
.services_boxes_five {
  padding-top: 1rem;
  margin: $MainHeaderMargin;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.services_boxes_five::before {
  content: "";
  background-image: url("../img/garden_job.jpg");
  background-size: cover;
  position: absolute;
  background-position: center center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}
// six
.services_boxes_six {
  padding-top: 1rem;
  margin: $MainHeaderMargin;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.services_boxes_six::before {
  content: "";
  background-image: url("../img/home_repair.jpg");
  background-size: cover;
  position: absolute;
  background-position: center center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

// seven

.services_boxes_seven {
  padding-top: 1rem;
  margin: $MainHeaderMargin;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.services_boxes_seven::before {
  content: "";
  background-image: url("../img/poison.jpg");
  background-size: cover;
  position: absolute;
  background-position: center center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

// eight

.services_boxes_eight {
  padding-top: 1rem;
  margin: $MainHeaderMargin;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.services_boxes_eight::before {
  content: "";
  background-image: url("../img/furniture_painting.jpg");
  background-size: cover;
  position: absolute;
  background-position: center center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}
