.services--center {
  text-align: center;
}
.services_h1 {
  // margin-bottom: 2rem;
  font-size: 24px;
}
.services {
  margin-top: $MainHeaderMargin;
}
@media screen and (min-width: 768px) {
  .services_h1 {
    font-size: $MainHeader;
  }
  .services_group {
    font-size: $SecondaryHeader;
  }
}
.services_boxes {
  padding-top: 1rem;
  // border: 1px solid black;
  // width: 200px;
  // height: 200px;
  margin: $MainHeaderMargin;
  background-color: $Gray;
}
.services_group {
  text-align: center;
}
