.dropdown_button {
  background-color: blue;
  color: white;
  padding: 16px;
  font-size: 16px;
  width: 50px;
  height: 50px;
  background-image: url("../img/menu_small.jpg");
  border: none;
  cursor: pointer;
}

.dropdown:hover .dropdown_button {
  background-color: darkblue;
}

.dropdown_image {
  width: 50px;
  height: 50px;
}

.dropdown--align_right {
  text-align: end;
}

.dropdown--align_left {
  text-align: left;
}

.dropdown--text_together {
  white-space: nowrap;
}

.icon_phone {
  width: 50px;
  height: 50px;
}

.phone_number {
  white-space: nowrap;
  padding: 16px;
  font-size: 16px;
  color: blue;
}

.logo {
  padding: 16px;
  font-size: 16px;
}

.menu {
  padding: 16px;
  font-size: 16px;
}

@media screen and (min-width: 576px) {
  .phone_padding {
    padding: 16px;
    font-size: 16px;
  }
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-image: url("../img/menu_small.jpg");
  width: 50px;
  height: 50px;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content a {
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  position: relative;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content::before {
  content: "";
  background-image: url("../img/background.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}

p {
  position: relative;
  color: black;
  text-align: center;
}

.content_number {
  color: black !important;
  text-decoration: none;
}

@media screen and (min-width: 576px) {
  .content {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .content_number {
    color: black !important;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .content {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .content_h2 {
    font-size: 24px;
  }
  .content_h1 {
    font-size: 32px;
  }
  .content::before {
    opacity: 0.4;
  }
  .content_bigger {
    font-size: 50px;
  }
}

@media screen and (max-width: 576px) {
  .contact_submit {
    width: 50%;
    padding: 16px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    margin: 0 0 25% 25%;
  }
}

@media screen and (min-width: 576px) {
  .contact_submit {
    width: 30%;
    padding: 16px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    margin: 0 35% 0 35%;
  }
}

@media screen and (min-width: 768px) {
  .contact_writeme {
    text-align: center;
    font-size: 32px;
  }
}

@media screen and (min-width: 992px) {
  .contact_information {
    width: 49%;
    padding: 16px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
}

.contact {
  margin-top: 2rem;
}

.contact_writeme {
  text-align: center;
}

.contact_information {
  width: 49%;
  padding: 16px;
  margin-top: 5px;
  margin-bottom: 22px;
  border: none;
  background: #f1f1f1;
}

.contactform_text {
  width: 99%;
  border: none;
  background: #f1f1f1;
  padding: 16px;
  margin: 5px 0 22px 0;
  height: 10rem;
}

.contact_instruction {
  margin-bottom: 1rem;
}

.services--center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .services_h1 {
    font-size: 32px;
  }
  .services_group {
    font-size: 24px;
  }
  .services {
    margin-top: 2rem;
  }
}

.services_boxes {
  margin: 2rem;
  background-color: #f1f1f1;
}

.services_group {
  text-align: center;
}

.about--center {
  text-align: center;
}

.about_boxes {
  background-color: #f1f1f1;
}

@media screen and (min-width: 768px) {
  .about_h1 {
    font-size: 32px;
  }
  .about {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.about_picture {
  width: 320px;
}

.contact--center {
  text-align: center;
}

.contact_boxes {
  background-color: #f1f1f1;
}

@media screen and (min-width: 768px) {
  .contact_h1 {
    font-size: 32px;
  }
  .contact {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.contact_adress {
  width: 20px;
}

.thanks--center {
  text-align: center;
}

.thanks_h1 {
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .thanks_h1 {
    font-size: 32px;
  }
  .thanks {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */