.thanks--center {
  text-align: center;
}

.thanks_h1 {
  font-size: $MainHeaderPhone;
  font-weight: bold;
  display: block;
  margin: 2em 0;
}
@media screen and (min-width: 48em) {
  .thanks_h1 {
    font-size: $MainHeader;
    font-weight: bold;
    display: block;
    margin: 1em 0;
  }

  .thanks {
    margin-top: $MainHeaderMargin;
    margin-bottom: $MainHeaderMargin;
  }
} // 768px
