$MainHeader: 32px;
$SecondaryHeader: 24px;
$MainHeaderMargin: 2rem;
$Gray: #f1f1f1;
$MenuPadding: 16px; //here
$MenuFontSize: 16px; // here
$PictureSize: 50px;
$DropMenuSize: 160px;
$SubmitButtonMargin: 5px 0 22px 0;
